body {
  text-align: center;
}

#aLaunchGameButtonId {
  border-radius: 10px;
  background: peachpuff;
}

h1 {
  font-family: 'Comic Sans', 'Sans serif';
}

img {
  width: 100%;
  max-height: 200px;
}

.pointsSection {
  display: flex;
  justify-content: center;
}

.pointsContainer {
  margin: 20px 20px;
  max-width: 300px;
  max-height: 300px;
}

div.pointsContainer > p {
  background-color: peachpuff;
}