body {
  text-align: center;
  background-color: rgb(169,169,169);
}

#aLaunchGameButtonId {
  border-radius: 10px;
  background: peachpuff;
}

.clickAnimation{
  transform: scale(1.1, 1.1);
  transition: all 0.07s ease;
}

.playerSelectionButton {
  border-radius: 10px;
}

h1 {
  font-family: 'Georgia', 'Serif';
}

img {
  width: 100%;
  max-height: 200px;
}

.pointsSection {
  display: flex;
  justify-content: center;
}

.pointsContainer {
  margin: 20px 20px;
  max-width: 300px;
  max-height: 300px;
}

div.pointsContainer > p {
  background-color: peachpuff;
}