body {
  text-align: center;
  background-color: rgb(169,169,169);
}

#aLaunchGameButtonId {
  border-radius: 10px;
  background: peachpuff;
}

.clickAnimationEnlarge{
  background-color: greenyellow;
  transform: scale(1.1, 1.1);
  transition: all 0.5s ease;
}


.clickAnimationEnlargeComputerVersion{
  background-color: lightblue;
  transform: scale(1.1, 1.1);
  transition: all 0.5s ease;
}

.playerSelectionButton {
  max-width: 200px;
  font-size: 24px;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  flex: 1 1 auto;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  font-family: 'Georgia', 'Serif';
}

img {
  width: 100%;
  max-height: 200px;
}

.pointsSection {
  display: flex;
  justify-content: center;
}

.pointsContainer {
  margin: 20px 20px;
  max-width: 300px;
  max-height: 300px;
}

div.pointsContainer > p {
  background-color: peachpuff;
}